.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #378cb6;
  z-index: 1000;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 1.5s ease, opacity 1.0s ease; /* Smooth transition */
}

.header.hide {
  transform: translateY(-100%); /* Move out of view */
  opacity: 0; /* Hide visually */
}

.header.show {
  transform: translateY(0); /* Move into view */
  opacity: 1; /* Fully visible */
}

.active-link {
  position: relative;
  color: #000000;
  font-weight: bold;
}

.active-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #A7BEAE;
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.3s ease-out;
}

.active-link:hover::after {
  transform: scaleX(0);
  transform-origin: left;
}


.navbar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: clamp(10px, 5vw, 75px);
}

.nav-link {
  color: #E7E8D1;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  color: #A7BEAE;
  transform: scale(1.1);
}