/* Styling for entire home component */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    justify-content: center;
}

.container-title {
    font-size: calc(10px + 7vmin);
    color: #E7E8D1;
}

.scroll-down {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 2vh;

    /* Add transition for fade effect */
    opacity: 1;
    visibility: visible;
    transition: opacity 1.5s ease, visibility 1.5s ease;
}

.scroll-down.hidden {
    opacity: 0;
    visibility: hidden; /* Ensures the element is completely hidden */
}

.mouse {
	width: 30px;
	height: 55px;
	border: 2.5px solid #E7E8D1;
	border-radius: 60px;
	position: relative;
	&::before {
		content: '';
		width: 10px;
		height: 10px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #E7E8D1;
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 40px;
	}
}


.container-content {
	margin-top: 20vh; /* Adjust the vertical position */
	display: flex; /* Arrange children in a row */
	flex-wrap: wrap; /* Allow wrapping for smaller screens */
	justify-content: space-around; /* Spread items evenly */
	align-items: center; /* Vertically align items */
	padding: 0 5%; /* Add padding to prevent items from touching screen edges */
	gap: 20px; /* Add space between the items */
}

.sub-container {
    flex: 2; /* Allow the text container to grow or shrink proportionally */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align text to the left */
    justify-content: center;
    padding: 0 5%; /* Add padding inside the container */
    max-width: 800px; /* Limit the width of the text for readability */
}


.intro-header {
	font-size: 2em;
	color: #000000;
	/* transform: translateX(-2vw); */
}

.intro-paragraph {
	font-size: 1.5em;
	color: #E7E8D1;
	width: 65%;
}

.image {
    flex: 1; /* Allow the image to grow or shrink proportionally */
    max-width: 60%; /* Prevent the image from exceeding its container's width */
    max-height: 55vh; /* Keep the image responsive to the viewport height */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the image fits well without distortion */
    margin-right: 5%; /* Add spacing between image and text */
}
