/* Styling for entire home component */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: center;
}

.container-title {
    font-size: calc(10px + 7vmin);
    color: #E7E8D1;
}

.scroll-down {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 2vh;

    /* Add transition for fade effect */
    opacity: 1;
    visibility: visible;
    transition: opacity 1.5s ease, visibility 1.5s ease;
}

.scroll-down.hidden {
    opacity: 0;
    visibility: hidden; /* Ensures the element is completely hidden */
}

.mouse {
	width: 30px;
	height: 55px;
	border: 2.5px solid #E7E8D1;
	border-radius: 60px;
	position: relative;
	&::before {
		content: '';
		width: 10px;
		height: 10px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #E7E8D1;
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 40px;
	}
}

.spacer {
    height: 20vh;
}
